<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring Schema -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/data/mongo     
    	http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd 
    	http://www.springframework.org/schema/mvc 
    	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    	http://www.springframework.org/schema/cache 
    	http://www.springframework.org/schema/cache/spring-cache-3.0.xsd 
    	http://www.springframework.org/schema/task 
    	http://www.springframework.org/schema/task/spring-task-3.0.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Mongo bean -->
	<mongo:mongo host="localhost" port="27017"/>
	<mongo:db-factory id="mongoDbFactory" dbname="questionnaire" mongo-ref="mongo" />
 	<bean id="mappingContext"
        class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />
    <!-- 去除集合里的_class属性 -->
    <bean id="defaultMongoTypeMapper"
        class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
        <constructor-arg name="typeKey">
            <null />
        </constructor-arg>
    </bean>
    <bean id="mongoConverter"
        class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
        <constructor-arg name="mappingContext" ref="mappingContext" />
        <property name="typeMapper" ref="defaultMongoTypeMapper" />
    </bean>
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> 
		<constructor-arg ref="mongoDbFactory" /> 
 		<constructor-arg ref="mongoConverter" /> 
 	</bean>
	<!-- Hibernate Bean -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost:3306/questionnaire" p:user="root"
		p:password="327453nmg" p:maxPoolSize="40" p:minPoolSize="1"
		p:initialPoolSize="1" p:maxIdleTime="20" />


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource">
		<property name="mappingResources">
			<list>
				<value>model/User.hbm.xml</value>
				<value>model/Questionnaire.hbm.xml</value>
				<value>model/Answer.hbm.xml</value>
			</list>
		</property>
		<!-- Hibernate SessionFactory -->
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLInnoDBDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.format_sql=true
			</value>
		</property>
	</bean>

	<!-- DAO Bean -->
	<!-- User -->
	<bean id="userDao" class="dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- Questionnaire -->
	<bean id="quesDao" class="dao.impl.QuestionnaireDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="questionsDao" class="dao.impl.QuestionnaireQuestionsDaoImpl">
		<property name="mongoTemplate" ref="mongoTemplate" />
	</bean>
	<!-- Login -->
	<bean id="loginDao" class="dao.impl.LoginDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- Answer -->
	<bean id="ansDao" class="dao.impl.AnswerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="anssheetDao" class="dao.impl.AnswerSheetDaoImpl">
		<property name="mongoTemplate" ref="mongoTemplate" />
	</bean>
	<!-- End of Dao -->
	
	
	<!-- Service -->
	<bean id="quesService" class="service.impl.QuestionnaireServiceImpl">
		<!-- DAO -->
		<property name="quesDao" ref="quesDao"></property>
		<property name="questionnairequestionsDao" ref="questionsDao"></property>
	</bean>
	<bean id="userService" class="service.impl.UserServiceImpl">
		<!-- DAO -->
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="loginService" class="service.impl.LoginServiceImpl">
		<property name="loginDao" ref="loginDao"></property>
	</bean>
	<bean id="ansService" class="service.impl.AnswerSheetServiceImpl">
		<property name="ansDao" ref="ansDao"></property>
		<property name="anssheetDao" ref="anssheetDao"></property>
	</bean>
	<bean id="statisticService" class="service.impl.StatisticServiceImpl">
		<property name="ansDao" ref="ansDao"></property>
		<property name="anssheetDao" ref="anssheetDao"></property>
		<property name="quesDao" ref="questionsDao"></property>
	</bean>
	<bean id="ioService" class="service.impl.ImportExportServiceImpl">
		<property name="ansDao" ref="ansDao"></property>
		<property name="anssheetDao" ref="anssheetDao"></property>
		<property name="quesDao" ref="quesDao"></property>
		<property name="questionnairequestionsDao" ref="questionsDao"></property>
	</bean>
	<!-- End of Service -->
	

	<!-- HibernateTransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- appService Bean -->
		<aop:pointcut id="beanPointcut" expression="bean(appService)" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="beanPointcut" />
	</aop:config>
</beans>